.table-default {
  table {
    width: 100%;
    vertical-align: middle;
  }
  table > :not(caption) > * > * {
    padding: 0.5rem 1rem;
    background-color: transparent;
    box-shadow: inset 0 0 0 9999px transparent;
  }
  table > :not(caption) > * > * {
    border-bottom-width: 1px;
  }
  table > tbody {
    @apply text-black;
    vertical-align: inherit;
  }
  table > thead {
    @apply text-slate-400 text-left;
    vertical-align: bottom;
  }

  table > :not(:last-child) > :last-child > * {
    border-bottom-color: currentColor;
  }
}

.table-cart {
  table {
    @apply my-10;
    padding: 6rem 5rem !important;
  }
  table > :not(:last-child) > :last-child > * {
    border-bottom-color: transparent;
  }

  table > thead {
    @apply text-neutral-800;
  }

  table > :not(caption) > * > * {
    border-bottom-color: transparent;
  }
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

// @media (max-width: 575.98px) {
//   .table-responsive-sm {
//     overflow-x: auto;
//     -webkit-overflow-scrolling: touch;
//   }
// }
// @media (max-width: 767.98px) {
//   .table-responsive-md {
//     overflow-x: auto;
//     -webkit-overflow-scrolling: touch;
//   }
// }
// @media (max-width: 991.98px) {
//   .table-responsive-lg {
//     overflow-x: auto;
//     -webkit-overflow-scrolling: touch;
//   }
// }
// @media (max-width: 1199.98px) {
//   .table-responsive-xl {
//     overflow-x: auto;
//     -webkit-overflow-scrolling: touch;
//   }
// }
// @media (max-width: 1399.98px) {
//   .table-responsive-xxl {
//     overflow-x: auto;
//     -webkit-overflow-scrolling: touch;
//   }
// }
